@import './../../App.scss';  //import vars and mixins

.Choreography{
    .Page__top{
        height: 80vh;
        .cover{
            background: rgba($color_black_1,.6);
        }
    }
    height: 300vh;

}
