@import './../../../App.scss';  //import vars and mixins

.Endorsements{
    align-items: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: $color_purple;
    min-height: 50rem;
    padding: 20rem 10rem  10rem;
    text-align: left;

}
.Endorsements__intro{
    position: -webkit-sticky;
    position: sticky;
    bottom: 30rem;
    font-size: 2.5rem;
    p{
        width: 50%;
        padding-top: 5rem;
        left: 5rem;
    }
    img{
        position: absolute;
        opacity: .1;
        height: 30rem;
        left: 35%;
        top: 0;
    }
    .btn{
        top: -3rem;
    }
}

.quote{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: solid .1rem #fff;
}
.quote__name{
    font-size: 1.2rem;
    left:7rem;
}
.quote__flag{
    height: 2.5rem;
    // margin-left: 1rem;
    // margin-top: -.8rem;
    left: -6.5rem;
    top: .5rem;

    position: absolute;
    // height: 5rem;
    // top: 0;
    // left: 1rem;
    // z-index: 1;
    // opacity: .5;
}
