@import './../../../App.scss';  //import vars and mixins

.Endorsements{
    align-items: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: $color_purple;
    min-height: 50rem;
    padding: 20rem 10rem  10rem;
    text-align: left;
font-size: 1.3rem;
}
.Endorsements__intro{
    position: -webkit-sticky;
    position: sticky;
    bottom: 31.5rem;
    // padding-top: 5rem;
    font-size: 2.5rem;
    p{
        width: 50%;
        padding-top: 5rem;
        left: 5rem;
    }
    img{
        position: absolute;
        opacity: .4;
        height: 30rem;
        left: 35%;
        // top: 5rem;
        top: 0;
    }
    .btn{
        top: -3rem;
    }
}

.quote{
    background: #1B1B1B;
    padding: 5rem;
    // padding-bottom: 3rem;
    margin-bottom: 2rem;
    // border-bottom: solid .2rem #000;
}
.quote__text{
    margin-bottom: 3rem;
}
.quote__name{
    font-size: 1.2rem;
    left:7rem;
}
.quote__flag{
    height: 3rem;
    // width: 5rem;
    left: -6.5rem;
    top: .2rem;

    position: absolute;

}
