@import './../../../App.scss';  //import vars and mixins

.Endorsements{
    align-items: start;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background: $color_purple;
    min-height: 50rem;
    padding: 20rem 10rem  10rem;
    text-align: left;
font-size: 1.3rem;
}
.Endorsements__intro{
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    // padding-top: 5rem;
    font-size: 2.5rem;
    p{
        width: 60%;
        left: 8rem;
        top: 7rem;
    }

    .btn{
        top: 3rem;
    }
}
.quote__img_btm,
.quote__img_top{
    position: absolute;
    opacity: .4;
    width: 30rem;
}
.quote__img_top{
    top: 20rem;
    left: 10rem;
}
.quote__img_btm{
    bottom: 12rem;
    right: 50%;
    transform: scaleX(-1);
}
.quote{
    background: #1B1B1B;
    padding: 5rem;
    // padding-bottom: 3rem;
    margin-bottom: 2rem;
    // border-bottom: solid .2rem #000;
    left: 5rem;
    width: 95%;
}
.quote__text{
    margin-bottom: 3rem;
}
.quote__name{
    font-size: 1.2rem;
    left:7rem;
}
.quote__flag{
    height: 3rem;
    // width: 5rem;
    left: -6.5rem;
    top: .2rem;

    position: absolute;

}
