@import './../../../App.scss';  //import vars and mixins

.About{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: $color_black_1;
    text-align: left;
    font-size: 1.4rem;
    .btn{
        top: 5rem;
        margin: auto;
    }


}
.About__text{
    // background: #fff;
    // color: #111;
    padding:12rem 10rem 15rem 10rem;
    text-align: center;
    p:first-of-type{
        font-size: 1.9rem;
        margin-bottom: 6rem;

        // left: -5rem;
        // width: calc(100% + 5rem);
        text-align: left;
    }
    p{
        margin-bottom: 2rem;
        text-align: left;
    }
}
.About__img{
    background-image: url('./../../../media/imgs/mg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    .cover{
        background: rgba($color_black_2, .4);
    }
}
