@import './../../App.scss';  //import vars and mixins

.Press{}
.articles{
    width: 90vw;
    margin: auto;
    text-align: left;
    .btn{
        margin-top: 2rem;
    }
}
article{
    background: #fff;
    color: #111;
    min-height: 45rem;
    margin-bottom: 6rem;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article__img,
.article__body{
    // transition: 1s;
}
.article__img{
    background-size: cover;
    background-position: center;
    font-size: 1.2rem;
    height: 45rem;
}
.article__body{
    min-height: 45rem;
    display: inline-grid;
    align-content: center;
    padding: 5rem;
}
article:nth-child(odd) {
    .article__img{
        // grid-column: 2;
    }
    .article__body{
        grid-column: 1;
        grid-row: 1;
    }
}
article.open{
    grid-template-columns: 1fr;
    .article__text{
        display: block;
    }
}
.article__img_caption{
    color: #fff;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: right;
    padding: 0 4rem;
}
.article__top{
    margin: 4rem 0;
}
.article__title{
    font-size: 2.8rem;
}
.article__subtitle{
}
.article__text{
    display: none;
    padding: 10rem;
    column-count: 2;
    column-gap: 5rem;
    a{
        font-weight: bold;
    }
}
.edinburghReporterOnTheCoreLaunch{
    .article__img{
        background-position: right top;
    }
}
