@import './../../App.scss';  //import vars and mixins

.Press{}
.articles{
    width: 90vw;
    margin: auto;
    text-align: left;
    .btn{
        margin-top: 2rem;
    }
}
article{
    background: #fff;
    color: #111;
    min-height: 50rem;
    margin-bottom: 6rem;
    font-size: 1.4rem;
}

.article__img,
.article__heading{
    width: 50%;
}
.article__img{
    position: absolute;
    background-size: cover;
    background-position: center;
    font-size: 1.2rem;
    height: 50rem;

}
.article__heading{
    height: 50rem;
    display: inline-grid;
    align-content: center;
    padding: 5rem;
    left: 50%;

}
article:nth-child(odd) {
    .article__img{
        left: 50%;
        // grid-column: 2;
    }
    .article__heading{
        left: 0;
    }
}
article.open{
    .article__img{
        width: 100%;
        left: 0;
        // opacity: .3;
        .cover{
            background: rgba($color_black,.7);
            transition: 1.5s;
        }
        transition: .75s;
    }
    .article__heading{
        color: #fff;
        left: 0;
        padding-left: 10rem;
        position: relative;
        transition: left .75s;
    }
    .article__body{
        display: block;
    }
    .article__arr{
        display: block;
        @include anim(slideArrIn, .5s , .5s, ease-out);
    }
}
.article__img_caption{
    color: #fff;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: right;
    padding: 0 4rem;
}
.article__top{
    margin: 4rem 0;
}
.article__title{
    font-size: 2.8rem;
}
.article__subtitle{
}
.article__arr{
    font-size: 3rem;
    font-weight: normal;
    display: none;
    //anim
    top: -5rem;
    opacity: 0;
}
.article__body{
    width: 100%;
    display: none;
    padding: 10rem;
}
.article__text{
    column-count: 2;
    column-gap: 5rem;
    a{
        font-weight: bold;
    }


}
.article__link{
    border-top: solid .1rem #e5e5e5;
    // color: #d5d5d5;
    margin: 8rem auto 0;
    padding-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    span{
        font-size: 1.6rem;
        top: 1rem;
        cursor: pointer;
    }
}
.edinburghReporterOnTheCoreLaunch{
    .article__img{
        background-position: right top;
    }
}
