@import './../../../App.scss';


.Clients{
    position: relative;
    background: $color_purple;
    padding: 25rem 10rem 15rem;
    top: -.2rem;
    color: #fff;
    text-align: center;
    display: grid;
    align-content: center;
}
.Clients__logo{
    display: inline-block;
    margin:  2.5rem 3.5rem;
    img{
        height: 7rem;
        // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
         // filter: grayscale(100%) ;

         opacity: .7;
    }
    p{
        font-size: 1.2rem;
        // text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .2rem;

    }

}
