@import './../../../App.scss';


.Clients{
    background: $color_purple;
    padding: 22rem 0 15rem;
    top: -.2rem;
    text-align: left;
    .wrapper{
        width: 110rem;
    }
}
.Clients__logo{
    display: inline-block;
    margin:2.2rem 2.5rem;
    img{
        height: 6rem;
        // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
         // filter: grayscale(100%) ;

         opacity: .5;
    }
    p{
        font-size: 1.2rem;
        // text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .2rem;

    }

}
.logo_Sykes{
    margin: 2.2rem 1.5rem;
}
