@import './../../App.scss';  //import vars and mixins
section{
    width: 90%;
    margin: 0 auto 6rem;
}
.section__title{
    width: 100%;
    font-size: 1.4rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    position: absolute;
    top:12rem;
    z-index: 9;
}

.section__top{
    margin-bottom: 0;
}
.section__pastProjects{
    margin-bottom: 0;
}
.section__clients{
    margin-bottom: 0;
}


// @include desktop-sm{
// $offset: 0rem;
// .section__title{
//     left: calc(#{$offset} + 2rem);
// }
// }
// @include tablet{
//
// }
// @include mobile{
//
// }
// @include mobile-sm{
//
// }
