@import './../../App.scss';  //import vars and mixins
footer{
    background: $color_black;
    color: silver;
    // padding: 5rem 0;
    text-align: right;
    display: grid;
    width: 90%;
    margin: 4rem auto 6rem;
    a{
        font-size: 1.2rem;
        padding: 0 .7rem;
    }
    // background-image: url('./../../media/bgs/grey2.jpg');
    .cover{
        // background: rgba($color_black_1, .9);
        display: grid;
        grid-template-columns: auto 1fr;
        // padding: 0 5rem;
    }

}
