@import './../../../App.scss';  //import vars and mixins

.Contact{
    background: $color_purple;
    padding: 8rem 10rem 0;
    min-height: 60rem;
    display: grid;
    align-content: center;
    width: 100%;
    a{
        padding: .7rem;
        img{
            height: 2rem;
        }
    }
    // background-image: url('./../../../media/icons/mail_blk.png');
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-position: 0% 90%;
}
.mail{
    font-size: 4rem;
    margin-bottom: 2rem;
}
.downloads{
    top: 14rem;
    cursor: pointer;
}
