@import './../../App.scss';  //import vars and mixins

.Nav{
    position: absolute;
    top: 6rem;
    width: 100%;
    z-index: 9;
    text-align: left;
    section{
        display: grid;
        grid-template-columns:1fr auto;

    }
}
.Nav__brand{
    h1{
        font-size: 2.2rem;
        text-transform: uppercase;
    }

}


.Nav__pages{

    a{
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-left:1.7rem;
        text-align: right;
    }
    a.selected{
        // text-decoration: line-through;
        // display: none;
        // opacity: .4;
        // background-image: linear-gradient(to right,$color_blue, transparent);
    }

}


@include desktop-sm{

}
