@import './../../App.scss';  //import vars and mixins

.Nav{
    font-size: 1.2rem;
    position: absolute;
    top: 6rem;
    width: 100%;
    z-index: 9;
    text-align: left;
    padding: 0 7rem 0 10rem;
    section{
        display: grid;
        grid-template-columns:1fr auto;

    }
}
.Nav__brand{
    h1{
        font-size: 2.2rem;
        text-transform: uppercase;
        img{
            height: 1.6rem;
        }
    }
    span{
        ;font-size: 1.2rem
    }

}

.Nav__media{
    display: none;
    img{
        height: 1.4rem;
    }
    a{
        padding: 0 .7rem;
    }
}
.Nav__pages{

    a{
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-left:1.7rem;
        text-align: right;
    }
    a.selected{
        color: $color_theme;
    }

}


@include desktop-sm{

}
